/*h1 {text-transform:lowercase; font-family:cursive; color:hotpink;}
table, td, th {border: 1px solid black; }
table { border-collapse: collapse; }
body {background: url(http://subtlepatterns.com/patterns/geometry.png) }*/

@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900|Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);

*,
:before,
:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  -ms-interpolation-mode: bicubic;
}
label {
  font-size: .7em;
}
fieldset {
  border: none;
}
fieldset label {
  margin-top: .75em;
}
.wrap {
  width: 57.5rem;
  margin: 0 auto;
}
main {
  clear: both;
  padding-top: 1.5em;
  min-height: 400px;
}
.grid {
  display: block;
  margin-bottom: 2em;
}
.grid div {
  display: inline-block;
  font-size: 1em;
}
.grid .span-all {
  width: 100%;
}
.grid .span-one-half {
  width: 50%;
}
.grid .span-one-third {
  width: 33%;
}
.grid .span-two-thirds {
  width: 66%;
}
.grid .span-one-fourth {
  width: 25%;
}
.grid .span-three-fourths {
  width: 75%;
}
.grid .span-one-sixth {
  width: 16.6666666667%;
}
.grid .span-five-sixths {
  width: 83.3333333333%;
}
.grid .push-all {
  margin-left: -100%;
}
.grid .push-one-half {
  margin-left: -50%;
}
.grid .push-one-third {
  margin-left: -33%;
}
.grid .push-two-thirds {
  margin-left: -66%;
}
.grid .push-one-fourth {
  margin-left: -25%;
}
.grid .push-three-fourths {
  margin-left: -75%;
}
.grid .push-one-sixth {
  margin-left: -16.66666667%;
}
.grid .push-five-sixths {
  margin-left: -83.33333333%;
}
.grid .pull-all {
  margin-left: 100%;
}
.grid .pull-one-half {
  margin-left: 50%;
}
.grid .pull-one-third {
  margin-left: 33%;
}
.grid .pull-two-thirds {
  margin-left: 66%;
}
.grid .pull-one-fourth {
  margin-left: 25%;
}
.grid .pull-three-fourths {
  margin-left: 75%;
}
.grid .pull-one-sixth {
  margin-left: 16.6666666667%;
}
.grid .pull-five-sixths {
  margin-left: 83.3333333333%;
}
a {
  color: rgba(20, 86, 138, 0.9);
  text-decoration: underline;
}
a:hover {
  color: #000;
}
a:active {
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: .3em;
}
h1 .icon,
h2 .icon,
h3 .icon,
h4 .icon,
h5 .icon,
h6 .icon {
  vertical-align: baseline;
}
h1 {
  font-size: 1.3em;
  font-weight: 100;
}
h2 {
  font-size: 1em;
  font-weight: 600;
}
h3 {
  font-size: 1em;
}
h4 {
  font-size: 1em;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: .83em;
}
abbr[title] {
  border-bottom: 1px dotted;
}
strong {
  font-weight: 700;
}
blockquote {
  padding: 1em 40px;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
p,
pre {
  padding: 0 0 1em 0;
  font-weight: 400;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 1em;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 80%;
}
dl,
menu,
ol,
ul {
  padding: 1em 0;
}
dd {
  padding: 0 0 0 40px;
}
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
figure figcaption {
  font-size: .65em;
}
input[type=text],
input[type=password],
input[type=number],
select {
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
input[type=file] {
  display: none;
}
.caption {
  display: none;
  position: fixed;
  z-index: 1111;
  padding: 0.2em 0.4em;
  background-color: #FDF9CE;
  font-size: .9em;
  outline: 1px solid #F1C001;
  cursor: hand;
}
.list-view {
  background-color: rgba(0, 0, 0, 0.02);
  max-height: 100px;
  min-height: 100px;
  overflow-y: scroll;
  list-style: none;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.06);
}
.list-view.extended {
  max-height: 250px;
  min-height: 250px;
}
.list-view li {
  cursor: pointer;
  padding: 0.2em 0.5em;
  color: #000;
}
.list-view li a {
  color: #000;
}
.list-view li:hover {
  background-color: rgba(0, 0, 0, 0.03);
}
.list-view li.disabled {
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.5);
}
.list-view li.disabled:hover {
  background-color: rgba(0, 0, 0, 0);
}
::-moz-selection {
  background-color: rgba(20, 86, 138, 0.3);
}
::selection {
  background-color: rgba(20, 86, 138, 0.3);
}

html,
:root {
  font: 100%/1.7 "Roboto", "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga' 1, 'onum' 1, 'dlig' 1;
  font-kerning: normal;
  color: #000;
  background-color: #ffe43e;
}
@media (max-width: 860px) {
  html,
  :root {
    font-size: 87.5%;
  }
}
@media (max-width: 780px) {
  html,
  :root {
    font-size: 75%;
  }
}








.branding {
	background: url('images/branding_with_tagline.png') center center no-repeat;
	background-size: cover;
	height: 400px;
	margin: 0 auto;
}

.intro-content {
	font-size: 1.2em;
}

	.intro-content p, .intro-content ul, .intro-content form {
		margin: 0;
		padding-bottom: 1em;
	}
	
	.intro-content ul {
		list-style: square;
	}
	
	.intro-content form {
		text-align: center;
	}
	
	.intro-content ul li span {
		font-weight: bold;
		font-family: monospace;
	}

	.intro-content form input[type='text'], .intro-content form input[type='email'] {
		font-size: 1.2em;
		font-weight: bold;
		padding: 5px;
	}
	
	.intro-content form input[type='submit'] {
		font-size: 1.2em;
		padding: 5px;
		font-weight: bold;
		padding-left: 20px;
		padding-right: 20px;
	}
	
	.intro-content form input[type='text'], .intro-content form input[type='email'], .intro-content form input[type='submit'] {
		border: 1px solid rgba(0, 0, 0, .5);
		border-radius: 2px;
		background-color: white;
	}
	
	.controls {
		padding: 10px;
	}








table td th {
	border: 1px solid black;
}

table tr td {
	border: 1px solid black;
	padding: 10px;
}

table tr {
	border: 1px solid black;
}

table {
	margin: 0 auto;
	margin-top: 1em;
	border: 1px solid black;
	border-collapse: collapse;
}





















